# 3. Data를 묶음으로 다루기
### 3.1 리스트
- 리스트(List)는 여러 데이터를 1열로 세워 묶은 형태이다.
- 리스트는 시작과 끝은 `[]` 로 표현하고, 서로 다른 데이터 타입도 묶을 수 있다. (데이터 타입의 종류는 다음 장에서 좀 더 자세히 다룬다.)

In [ ]:
list_mixed = [0, 2.5, 'abc']

- 리스트는 다음과 같이 여러가지 방법으로 생성할 수 있다.

In [ ]:
# 비어있는 리스트 생성
empty_list = []
print(empty_list)

[]

In [ ]:
# 직접 입력해서 생성
list_manual = [0, 1, 2, 3, 4]
print(list_manual)

[0, 1, 2, 3, 4]

In [ ]:
# range 함수를 이용한 생성 (이하 A, B, C 모두 정수)
# range(B) - 0부터 1의 간격으로 B보다 작은 정수까지 리스트 생성
list_new = list(range(10))
print(list_new)

# range(A, B) - A부터 시작해 1의 간격으로 B보다 작은 정수까지 리스트 생성
list_new = list(range(1, 10))
print(list_new)

# range(A, B, C) - A부터 시작해 C의 간격으로 B보다 작은 정수까지 리스트 생성 (C가 음수일 경우 뒤에서부터)
list_new = list(range(2, 10, 2))
print(list_new)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]

- 리스트에 `+` 연산과 `*` 연산은 조금 특별하게 동작한다.
  + `+` 연산은 좌우의 리스트를 이어 붙인다.
  + `*` 연산은 `*` 왼쪽의 리스트를 오른쪽의 숫자만큼 반복해서 붙인다.

In [ ]:
# 리스트에서 + 연산과 * 연산
list_manual = [0, 1, 2, 3, 4]
list_new = list(range(4, -1, -1))
print(list_manual + list_new)
print(list_manual * 2)

- 리스트는 다음 예시와 같이 기본 제공되는 함수를 이용해 수정할 수 있다.

In [ ]:
# list의 맨 뒤에 원소 추가하기
list_manual = [0, 1, 2, 3, 4]
list_manual.append(5)
print(list_manual)

[0, 1, 2, 3, 4, 5]

In [ ]:
# list의 원하는 위치에 원소 추가하기
# insert(position, value) 참고로 시작위치의 값은 0
list_manual.insert(2, 10)
print(list_manual)

[0, 1, 10, 10, 2, 3, 4, 5]

In [ ]:
# list의 맨 뒤에 원소 제거하기
list_manual.pop()
print(list_manual)

[0, 1, 10, 10, 2, 3, 4]

In [ ]:
# list의 원하는 위치에 원소 제거하기
# pop(position)
list_manual.pop(2)
print(list_manual)

- 그 외 여러 가지 편리한 함수들이 기본으로 제공된다.

In [ ]:
# list의 원소 개수 세기
num_data = len(list_manual)
print(num_data)

7

In [ ]:
# 원소의 위치 찾기 (처음으로 발견된 원소의 위치 반환)
position = list_manual.index(2)
print(position)

4

In [ ]:
# list 크기순으로 정렬하기 (기본 오름차순)
list_manual.sort()
print(list_manual)
list_manual.sort(reverse = True)
print(list_manual)

[0, 1, 2, 3, 4, 10, 10]
[10, 10, 4, 3, 2, 1, 0]

In [ ]:
# 원하는 부위 잘라내기 (슬라이싱)
# 하나만 선택해 반환하기
print(list_manual[2])

4

In [ ]:
# [A:B] A 위치부터, B보다 '작은' 위치까지 선택
# [2:4] = 2,3의 위치 선택
print(list_manual[2:4])

[4, 3]

In [ ]:
# [A:] A위치부터, 끝까지
# [:B] 시작부터, B보다 '작은' 위치까지 선택
print(list_manual[2:])
print(list_manual[:4])

[4, 3, 2, 1, 0]
[10, 10, 4, 3]

In [ ]:
# [-A] 맨 뒤에서부터 A번째
print(list_manual[-2])

### 3.2 튜플
- 튜플(Tuple)는 List와 같지만 한 번 선언하면, 이후 수정이 불가능한 묶음이다.
- 튜플의 시작과 끝은 `( )` 기호로 표현하고, 나머지는 리스트와 같다.

In [ ]:
# 비어있는 튜플 생성 = 하지만 수정이 안되기 때문에 사실상 의미가 없다.
empty_tuple = ()
print(empty_tuple)

()

In [ ]:
# 직접 입력해서 생성
tuple_manual = (0, 1, 2, 3, 4)
print(tuple_manual)

- 수정과 관련된 함수를 제외한, 나머지 제공 함수들은 리스트와 거의 같다.

In [ ]:
tuple_manual = (0, 1, 2, 3, 4)
len(tuple_manual)

5

In [ ]:
tuple_manual.index(4)

4

In [ ]:
tuple_manual[1:]

(1, 2, 3, 4)

### 3.3 세트
- 세트(Set)도 List와 유사하지만, 원소의 중복을 허용하지 않는다는 점이 다르다.
- 세트의 시작과 끝은 `{ }` 기호로 표현하고, 나머지는 리스트와 같다.

In [ ]:
# 비어있는 세트 생성
empty_set = {}
print(empty_set)

{}

In [ ]:
# 직접 입력해서 생성 - 중복원소는 제거된다.
set_manual = {0, 1, 2, 3, 4, 4, 3, 2, 1, 0}
print(set_manual)

{0, 1, 2, 3, 4}

In [ ]:
# range 함수를 이용한 생성 (이하 A, B, C 모두 정수)'
print(set(range(2, 10, 2)))

- 세트는 즉 집합이므로, 수학에서의 집합과 관련된 연산 기능도 대부분 제공된다.
- 예를 들어,

In [ ]:
# 교집합 '&'
set_first = {1, 3, 5}
set_second = {1, 2, 4, 8}
print(set_first & set_second)

{1}

In [ ]:
# 합집합 '|'
print(set_first | set_second)

{1, 2, 3, 4, 5, 8}

In [ ]:
# 차집합 '-'
print(set_first - set_second)

{3, 5}

In [ ]:
# 부분집합 여부 확인
# A.issuperset(B) - B가 A의 부분집합인지 여부 (A가 B를 포함하는지 여부)
set_third = {1, 3, 5, 7}
set_third.issuperset(set_first)

True

In [ ]:
# 원소 여부 확인
in set_first

### 3.4 딕셔너리
- 딕셔너리(Dictionary)는 List와 유사하지만, 위치(index)가 정수가 아닌 'key'라는 임의의 값으로
1. 항목 추가
2. 항목 추가
관리된다.
- 딕셔너리의 시작과 끝은 `{ }` 기호로 세트와 표현방법이 같지만, 각 원소가 'key:value'의 형태로 저장된다.

In [ ]:
my_dictionary = {'name':'John', 'age':15, 'height':1.76}
print(my_dictionary)

{'name': 'John', 'age': 15, 'height': 1.76}

- 선택 방법 역시 List와 유사하지만 위치(index) 대신 'key'로 접근한다.

In [ ]:
my_dictionary['name']

'John'

- 당연히, 딕셔너리가 리스트의 원소가 될 수 있고, 그 반대도 가능하다.

In [ ]:
first_user = {'name':'John', 'age':15, 'height':1.76, 'position':[15,3]}
second_user = {'name':'Paul', 'age':17, 'height':1.88, 'position':[-2,7]}
users = [first_user, second_user]
print(users[0]['name'])

# 4. 기본적인 계산 다루기
### 4.1 기본 수학 연산
- 변수(variable)
  + 어떤 데이터를 저장하는 공간을 가리키는 이름표라고 보면 되고, 그 공간에 저장되는 데이터가 계속 바뀔 수 있기 때문에 변수라고 한다.
  + 가독성을 위해 저장할 데이터의 종류나, 그 데이터의 용도에 맞게 이름을 정하는 것이 좋다.
    * (다른 사람들의 소스코드를 참고하다 보면 어느 정도 규칙이 있음을 알 수 있다.)

In [ ]:
# 변수의 좋은 예
pos_x = 10
num_values = 5
_event_flag= False

# 변수의 나쁜 예
abc = 4
a1 = 50
xxxx = 3.4
temp1 = 4
temp2 = 5

- 데이터 타입
  + `정수`, `실수`, `bool`(True/False), `문자열` 정도로 구분할 수 있다.
  + Python이 자동으로 관리해주므로 굳이 신경 쓸 필요가 없다.
    * 달리 이야기하면, 데이터 타입이 내 의도와는 달리 바뀔 수 있으므로 주의도 필요하다.

In [ ]:
# 정수
number = 5

# 실수
value = 2.5

# bool
is_number = True

# 문자열(string)
name = 'Ivan'

# 정수가 실수로 바뀌는 경우
number = number/2
print('number =', number)

number = 2.5

- 기본 연산자
  + 사칙연산
    * 더하기 `+`, 빼기 `-`, 곱하기 `*`, 나누기 `/`
  + 기타연산
    * 몫 `//`, 나머지 `%`, 제곱 `**`
  + 논리연산
    * 크다 `>`, 크거나 같다 `>=`, 작다 `<`, 작거나 같다 `<=`, 같다 `==`, 같지 않다 `!=`, `and`, `or`

In [ ]:
a = 10
b = 2.5
print(a+b, a-b, a*b, a/b, a//b, a%b, a**b)
print(a>b, a>=b, a<b, a<=b, a==b, a>b or a<=b, a>b and a<=b)

12.5 7.5 25.0 4.0 4.0 0.0 316.22776601683796
True True False False False True False

- 잘 알려진 수학 함수 (numpy 라이브러리 활용)
  + 사인 `sin`, 코사인 `cos`, exponential `exp`, 반올림 `round`, 올림 `ceil`, 내림 `floor`

In [ ]:
# numpy 라이브러리의 활용법은 나중에 좀 더 자세히 다룰 예정입니다.
import numpy as np
angle = np.pi/4
print(angle)
print(np.sin(angle))
print(np.cos(angle))
print(np.exp(angle))
print(np.round(angle))
print(np.ceil(angle))
print(np.floor(angle))

0.7853981633974483
0.7071067811865475
0.7071067811865476
2.1932800507380152
1.0
1.0
0.0

### 4.2 단순 반복 계산하기 (for)
- `for` 문은 정해진 횟수를 `단순 반복`하기 위한 용도로 많이 사용되는 기본 제공 함수이다.
- 형식
    > for 변수 in 리스트:
      수행문
      ...

  + 리스트에 있는 원소들이 하나씩 차례로 변수에 대입되며 반복하고, 모든 원소가 대입된 후 반복이 끝난다.
  + 물론 리스트에 들어갈 수 있는 데이터 형태는 무엇이든지 가능하다.

In [ ]:
for i in [4, 'text', 1.5, True, {'name':'Charles', 'age':15}]:
  print(i)

4
text
1.5
True
{'name': 'Charles', 'age': 15}

- 하지만 보통 이렇게 많이 쓴다.

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

- `continue` 구문으로 반복을 한 번 스킵 할 수 있다.(`if` 문은 이번 장 맨 뒤에 좀 더 자세히 설명된다.)

In [ ]:
for i in range(5):
  if i==3:
    continue
  print(i)

0
1
2
4

- `break` 구문으로 반복을 완전히 끝낼 수 있다. (`break` 한 번에 하나의 반복만 탈출한다.)

In [ ]:
for i in range(5):
  if i==3:
    break
  for j in range(5):
    if j==2:
      break
    print(i, j)

0 0
0 1
1 0
1 1
2 0
2 1

- (간단한 예제) 구구단 (출력이 길어지니 2-4단만 해보자.)

In [ ]:
for i in range(2, 5):
  for j in range(1, 10):
    print('%d * %d = %d' % (i, j, i*j))
  print('---------------')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
---------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
---------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
---------------

### 4.3 조건 반복 계산하기(while)
- `while`문은 어떤 `조건`을 만족할 때만, `반복`하도록 하는 용도로 사용한다.
- 형식
  > while(조건):
    수행문
    ...

  + 조건은 bool 형태의 데이터 타입이고, `True` 또는 `False` 로 표현가능한 것을 의미한다.
    * (조건 `and` 조건), (조건 `or` 조건)과 같이 조합해서 사용하는 것이 가능하다.
- 조건이 `True`인 경우에 아래 수행문이 실행된 후, 다시 되돌아가 조건을 확인한다.
- 조건이 `False`인 경우 반복을 멈추고 다음으로 넘어간다.
- 참고로, 조건이 항상 `True`인 경우, 반복문을 멈추게 할 방법이 없기 때문에 무한루프라고 종종 이야기한다.
  + 의도적으로 무한루프를 사용한 것이 아니라면, 조건이 경우에 따라 무한루프에 빠질 가능성은 없는지 각별히 주의해야 한다.
  + `continue`와 `break`는 `for`문에서와 동일한 방법으로 사용할 수 있고, `break`를 이용해 무한루프를 탈출 가능하다.(아래 예제 참고)

In [ ]:
i = [1,2,3,4,-1,5,6,7,8]
j = []
count=0
while(i[count]>0):
    j.append(i[count])
    count = count + 1
print(j)

[1, 2, 3, 4]

- (간단한 예제) 구구단 (입력을 받아 원하는 구구단을 출력하게 해보자.)

In [ ]:
# 프로그램 동작에 관한 정보를 제공한다.
print('원하는 단수를 입력하시고, 종료하려면 -1을 입력하세요.')

# 의도적으로 무한루프를 활용한다.
while(True):
    
    # 사용자가 정수를 입력해준다고 가정한다.
    i = int(input())
    
    # -1 입력시 반복문을 탈출한다.
    if i==-1:
        break
    
    # 출력
    for j in range(1,10):
        print('%d x %d = %d' % (i, j, i*j))

원하는 단수를 입력하시고, 종료하려면 -1을 입력하세요.
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

### 4.4 좀 더 복잡한 계산하기 (if)
- `if`문은 어떤 `조건`을 만족할 때 원하는 기능이수행되게 할 수 있다. (`while`과 달리 반복은 없다.)
- 형식
  > if (조건):
      수행문
      ...
    elif (조건):
      수행문
      ...
    else:
      수행문
      ...

- 조건이 `True`인 경우에 아래 수행문이 실행된다.
- 조건이 `False`일 때 한 번 더 확인할 조건이 있다면 `elif` 문을 이용한다.
- 조건이 `False`인 경우에 실행할 수행문이 있다면, `else`문 이하에 배치하면 된다.
- `if`문의 예제는 이미 위에서 많이 언급되었기에 생략한다.

## Problem 2
* 프로그램 작성해보기
  + 제시된 출력결과를 보고, 아래 미완성 프로그램을 완성

In [ ]:
# 사용자로부터 변수를 입력받아 저장
name =input('What is your name?')
age = int(input('How old are you?'))
grade = float(input('What is your grade point average?'))

# 저장된 결과를 화면에 출력
print('Your name is %s' % name)
print('Your age is %d' % age)
print('Your grade is %.1f' % grade)